<ion-header>
  <ion-toolbar>
    <ion-title>
      Add New Blog
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add New Blog</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="ion-margin-top">
      <ion-col>

        <form *ngIf="blogForm" [formGroup]="blogForm" (ngSubmit)="submit()">
          <ion-item>
            <ion-label position="floating">Title <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required formControlName="title" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Subtitle <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required formControlName="subtitle" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Description <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-textarea required formControlName="description"></ion-textarea>
          </ion-item>

          <ion-item>
            <div class="upload ion-padding-top ion-padding-bottom ion-justify-content-between ion-align-items-center">
              <ion-label>Upload Image <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-button (click)="uploadImage()">
                <ion-icon name="camera-outline"></ion-icon>
              </ion-button>
            </div>
          </ion-item>

          <ion-card>
            <div class="">
              <img *ngIf="newImage?.webPath" [src]="domService.bypassSecurityTrustUrl(newImage?.webPath)"
                alt="Blog Alt Image" />
            </div>
          </ion-card>


          <ion-button expand="block" class="ion-margin-top" block color="success" type="submit"
            [disabled]="blogForm.invalid">
            Submit
          </ion-button>

          <ion-button expand="block" class="ion-margin-top" block color="light" routerLink="/blogs/homepage">
            Return To Blogs List
          </ion-button>
        </form>

      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>