<ion-header>
    <ion-toolbar>
        <ion-title>
            Blogs List
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blogs List</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-grid>
        <ion-row *ngIf="bService?.blogsList">
            <ion-col size="12" *ngFor="let blog of bService.blogsList; index as position">
                <!-- <ion-img [src]="photo.webviewPath">
                </ion-img> -->

                <ion-card class="ion-no-margin">
                    <img *ngIf="blog?.webviewPath"
                         [src]="domService.bypassSecurityTrustUrl(blog.webviewPath)" alt="Blog Alt Image"/>
                    <ion-card-header>
                        <ion-card-subtitle>{{ blog.subtitle }}</ion-card-subtitle>
                        <ion-card-title>{{ blog.title }}</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        {{ blog.description }}

                        <div class="ion-margin-top ion-justify-content-between actions">
                            <ion-button routerLink="/view-blog/{{ blog.id }}" size="medium" expand="full" color="success"
                                        class="btn">
                                Details
                            </ion-button>
                            <ion-button size="medium" (click)="showMoreDetails(blog, position)" expand="full"
                                        color="danger" class="btn">
                                Actions
                            </ion-button>
                        </div>
                    </ion-card-content>
                </ion-card>

            </ion-col>
        </ion-row>

        <ion-row class="ion-margin-top" *ngIf="bService?.blogsList?.length === 0">
            <ion-col>
                <ion-card class="ion-no-margin">
                    <ion-card-header>
                        <ion-card-title class="ion-text-center">Looks like you haven't added any blog items, click on belo button to add new blog item!</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        <ion-button class="ion-margin-top" expand="block" color="primary" routerLink="/blogs/add-new-blog"
                                    routerDirection="root">
                            Add New Blog
                        </ion-button>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>
