<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            View Blog Details
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button></ion-back-button>
            </ion-buttons>
            <ion-title size="large">View Blog Details</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-grid>
        <ion-row>
            <ion-col size="12" *ngIf="blog">
                <ion-card class="ion-no-margin">
                    <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(blog.webviewPath)"
                         *ngIf="blog?.webviewPath" alt="Blog picture"/>
                    <ion-card-header>
                        <ion-card-subtitle>{{ blog.subtitle }}</ion-card-subtitle>
                        <ion-card-title>{{ blog.title }}</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        {{ blog.description }}

                        <div class="ion-margin-top ion-justify-content-between actions">
                            <ion-button routerLink="/update-blog/{{ blog.id }}" size="medium" expand="full"
                                        color="light" class="btn">
                                Update Details
                            </ion-button>
                        </div>

                        <div class="ion-margin-top ion-justify-content-between actions">
                            <ion-button (click)="showAlert()" size="medium" expand="full" color="warning" class="btn">
                                Delete
                            </ion-button>
                        </div>
                    </ion-card-content>
                </ion-card>

            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>
