<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Details: {{ blogDetails?.title }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button></ion-back-button>
            </ion-buttons>
            <ion-title size="large">Details: {{ blogDetails?.title }}</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-grid>
        <ion-row>
            <ion-col size="12" *ngIf="blogDetails">
                <ion-card class="ion-no-margin">
                    <img [src]="domService.bypassSecurityTrustUrl(blogDetails.webviewPath)"
                         *ngIf="blogDetails?.webviewPath" alt="Blog picture"/>
                    <ion-card-header>
                        <ion-card-subtitle>{{ blogDetails.subtitle }}</ion-card-subtitle>
                        <ion-card-title>{{ blogDetails.title }}</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        {{ blogDetails.description }}

                        <div class="ion-margin-top ion-justify-content-between actions">
                            <ion-button routerLink="/update-blog/{{ blogDetails.id }}" size="medium" expand="full"
                                        color="success" class="btn">
                                Edit Blog Details
                            </ion-button>
                        </div>

                        <div class="ion-margin-top ion-justify-content-between actions">
                            <ion-button (click)="showAlert()" size="medium" expand="full" color="danger" class="btn">
                                Remove Blog
                            </ion-button>
                        </div>
                    </ion-card-content>
                </ion-card>

            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>
